#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;

	--primary-color: #dda300;
	--secondary-color: #005e2c;
	--gray: #ececec;
}

/* NotFound Page */

.wildcard-text {
	color: #61dafb;
	font-size: 8rem;
}

/* Home Page */

.home-container {
	padding: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	/* background-color: #fdfdfd;
	border-radius: 25px;
	box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.2); */
}

.start-button {
	font-size: 2rem;
	background: var(--gray);
	box-shadow: 0 5px 0 var(--secondary-color);
	color: var(--secondary-color);
	transition: all 0.1s ease-in-out;
}
.start-button:hover {
	cursor: pointer;
	border-color: var(--primary-color);
}
.start-button:active {
	box-shadow: 0 2px 0 var(--secondary-color);
	transform: translateY(3px);
}

.welcome-text {
	font-size: 2rem;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
